/*.iml
/.idea/**
/.gradle/**
/build/**
/out/**
/examples/simple/.idea/**
/examples/vue-i18n-js-config-simple/.idea/**
/examples/vue-i18n-js-config-simple/node_modules/**
/examples/vue-i18n-files-simple/.idea/**
/examples/vue-i18n-files-simple/node_modules/**
/examples/react-i18n-using-hooks/node_modules/**
/examples/react-i18n-using-hooks/.idea/**
/examples/vue-sfc/.idea/**
/examples/vue-sfc/node_modules/**